@font-face {
   font-family: 'JosefinSans';
   src: url('Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
   font-style: normal;
}

@font-face {
   font-family: 'JosefinSans';
   src: url('Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
   font-style: italic;
}

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'JosefinSans', sans-serif;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
	display: flex;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
}

section {
    margin-bottom: 30px;
}

h2 {
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
}

h3 {
	font-size: 25px;
	font-weight: 500;
}

h4 {
	font-variant: small-caps;	
}

ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
	font-size: 18px;
}

li {
    margin-bottom: 8px;
}

p {
    margin-bottom: 30px;
	font-size: 16px;
	font-style: regular;
	font-weight: 400;
	text-align: justify;
}

/* Define styles for the sidebar */
#sidebar {
    height: 3000px;
    width: 35%;
    float: left;
    background-color: #0066cc;
    color: #ffffff;
    padding: 50px;
    box-sizing: border-box;
}

#sidebar hr {
	width: 80px;
	height: 5px;
	margin: 25px;
	background-color: #ffffff;
}

#content {
	height: 3000px; 
    width: 65%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
	color: black;
}

#content hr {
	width: 80px;
	height: 5px;
	margin: 25px;
	background-color: #0066cc;
}

/* Add a simple hover effect to links */
a {
    color: #3498db;
    transition: color 0.3s ease;
}

a:hover {
    color: #2c3e50;
}
