@font-face {
   font-family: 'JosefinSans';
   src: url('Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
   font-style: normal;
}

@font-face {
   font-family: 'JosefinSans';
   src: url('Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
   font-style: italic;
}

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'JosefinSans', sans-serif;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
	display: flex;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
}

section {
    margin-bottom: 30px;
}

h2 {
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
}

h3 {
	font-size: 25px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 10px;
}

h4 {
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 600;
}

h5 {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	margin: 0;
}

.date {
	float: right;
	font-style: italic;
}

ul {
    margin-bottom: 30px;
}

.disc_list {
	list-style-type: disc;
	margin-left: 17px;
}

.simple_list {
	list-style-type: none;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
	margin-top: 10px;
    margin-bottom: 10px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
}

hr {
	width: 60px;
	height: 4px;
	border: 0px;
	margin-top: 50px;
	margin-bottom: 25px;
	margin-left: 0px;
}

/* Define styles for the sidebar */
#sidebar {
    height: 3000px;
    width: 398px;
    float: left;
    background-color: #0066cc;
    color: #ffffff;
	padding: 0px;
    box-sizing: border-box;
	font-size: 18px;
}

#sidebar hr {
	background-color: #ffffff;
}

#sidebar_txt {
	padding: 50px;
}

#content {
	height: 3000px; 
    width: 65%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
	color: black;
}

#content hr {
	background-color: #0066cc;
}

/* Add a simple hover effect to links */
a {
	color: inherit;
	text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #2c3e50;
}
