@font-face {
   font-family: 'JosefinSans';
   src: url('Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
   font-style: normal;
}

@font-face {
   font-family: 'JosefinSans';
   src: url('Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
   font-style: italic;
}

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'JosefinSans', sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {

}

section {
    margin-bottom: 30px;
}

h2 {

}

ul {
    list-style-type: circle;

    padding: 0;
}

li {
    margin-bottom: 8px;
}

p {
    margin-bottom: 10px;
	font-size: 14px;
	font-style: regular;
	font-weight: 400;
}

/* Define styles for the sidebar */
#sidebar {
    height: 100vh; /* 100% of the viewport height */
    width: 30%;
    float: left;
    background-color: #3399ff;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

#content {
    height: 100vh; /* 100% of the viewport height */
    width: 70%;
    float: right;
    padding: 20px;
    box-sizing: border-box;
	background-color: #ffffff;
	color: black;
}

#content iframe {
	height: 100%;
	width: 100%;
	border: none;
	background-color: #3399ff;
	color: #fff;
	margin: 0;
	padding: 0;
}


/* Add a simple hover effect to links */
a {
    color: #3498db;
    transition: color 0.3s ease;
}

a:hover {
    color: #2c3e50;
}
